{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="cs-wrapper">
    <div class="cs-header">
        <h1 class="cs-title">{{case_study.title}}</h1>
        <h3 class="cs-subtitle">{{case_study.subtitle}}</h3>
    </div>
    <div class="cs-gameplan">
        <div class="cs-task">
            <h4 class="cs-subheader">The Task</h4>
            <p class="cs-text">{{case_study.task_content}}</p>
        </div>
        <div class="cs-approach">
            <h4 class="cs-subheader">Our Approach</h4>
            <p class="cs-text">{{case_study.approach_content}}</p>
        </div>
    </div>
    <div class="cs-slider">
        {% if case_study.get_main_images.count > 1 %}
            <div class="slider">
                {% for image in case_study.get_main_images %}
                    <div class="slide">
                        <img class="slide-image" src="{{ image.image.url }}" style="width:100%">
                    </div>
                    {% endfor %}
                <div class="slider-controls">
                    <a href="" class="slider-prev">&larr;</a>
                    <a href="" class="slider-next">&rarr;</a>
                </div>
            </div>
        {% else %}
            {% for image in case_study.get_main_images %}
                <img src="{{image.image.url}}" style='width:100%'>
            {% endfor %}
        {% endif %}
    </div>
    <div class="cs-content">
        <div class="cs-content-left">
            {% if case_study.extension_text %}
                <p class="cs-approach-content">{{case_study.extension_text}}</p>
            {% endif %}

            {% if case_study.sub_header %}
                <h4 class="cs-subheader">{{case_study.sub_header}}</h4>
                <p class="cs-text">{{case_study.sub_header_content}}</p>
            {% endif %}

            {% for image in case_study.get_sub_images %}
                <img src="{{image.image.url}}" style='width:100%'>
            {% endfor %}
        </div>
        <div class="cs-content-right">
            <h4 class="cs-subheader">{{case_study.title}}</h4>
            <p class="cs-tags">{% for tag in case_study.tags.all %} {{ tag }}. {% endfor %}</p>
            <p class="cs-year">{{ case_study.date_added.year }}</p>
            <a href="#" title="" class="btn-blue">Share Case Study</a>
        </div>
    </div>
    <div class="cs-page-nav">
        <div class="cs-page-nav-previous">
            {% if case_study.get_prev_pk %}
                <a href="{% url 'case_study' case_study.get_prev_pk %}" class="cs-page-nav-link">Previous</a>
                <h1 class="cs-page-nav-title">Previous Study</h1>
            {% else %}
                <p class="cs-page-nav-disabled">Previous</p>
            {% endif %}
        </div>
        <div class="cs-page-nav-next">
            {% if case_study.get_next_pk %}
                <a href="{% url 'case_study' case_study.get_next_pk %}" class="cs-page-nav-link">Next</a>
                <h1 class="cs-page-nav-title">Next Study</h1>
            {% else %}
                <p class="cs-page-nav-disabled">Next</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}