{% extends 'base.html' %}
{% load staticfiles %}

{% block imports %}
{% endblock %}

{% block content %}

<section class="cs-wrapper">
    {% if case_study.get_prev_pk %}
        <a class="cs-side-nav-link prev" href="{% url 'case_study' case_study.get_prev_pk %}">Prev Case Study</a>
    {% endif %}
    {% if case_study.get_next_pk %}
        <a class="cs-side-nav-link next" href="{% url 'case_study' case_study.get_next_pk %}">Next Case Study</a>
    {% endif %}
    <section class="hero">
        <h1 class="hero__title">{{case_study.title}}</h1>
        <h3 class="hero__subtitle">{{case_study.subtitle}}</h3>
    </section>
    <section class="cs-gameplan">
        <div class="cs-task">
            <h4 class="main-subheader">The Task</h4>
            <p class="main-text">{{case_study.task_content}}</p>
        </div>
        <div class="cs-approach">
            <h4 class="main-subheader">Our Approach</h4>
            <p class="main-text">{{case_study.approach_content}}</p>
        </div>
    </section>
    <section class="cs-slider">
        {% if case_study.get_main_images.count > 1 %}
            <div class="slider">
                <div class="slider-wrapper">
                    {% for image in case_study.get_main_images %}
                        <div class="slide">
                            <img class="slide-image" src="{{ image.image.url }}" style="width:100%">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% for image in case_study.get_main_images %}
                <img src="{{image.image.url}}" style='width:100%'>
            {% endfor %}
        {% endif %}
    </section>
    <section class="cs-content">
        <div class="cs-content__meta">
            <h4 class="main-subheader">{{case_study.title}}</h4>
            <p class="cs-tags">{% for tag in case_study.tags.all %} {{ tag }}. {% endfor %}</p>
            <p class="cs-year">{{ case_study.date_added.year }}</p>
        </div>
        <div class="cs-content__text">
            {% if case_study.extension_text %}
                <p class="cs-approach-content">{{case_study.extension_text}}</p>
            {% endif %}

            {% if case_study.sub_header %}
                <h4 class="main-subheader">{{case_study.sub_header}}</h4>
                <p class="main-text">{{case_study.sub_header_content}}</p>
            {% endif %}

            {% for image in case_study.get_sub_images %}
                <img src="{{image.image.url}}" style='width:100%'>
            {% endfor %}
        </div>
        <div class="cs-content__share">
            <a href="#" id="share-button" title="" class="btn-blue">Share Case Study</a>
            <div class="share__popup closed" id="share__popup">
                <span class="popup__arrow"></span>
                <div class="popup__social-links">
                    <a class="popup__social-link facebook-icon" href="//www.facebook.com/sharer/sharer.php?u=madebynotch.com&title=Case%20Study%20Name">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="popup__social-link email-icon" href="mailto:meagan@madebynotch.com">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="popup__social-link twitter-icon" href="http://twitter.com/intent/tweet?status=Case%20Study%20Name+madebynotch.com">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a class="popup__social-link linkedin-icon" href="http://www.linkedin.com/shareArticle?mini=true&url=madebynotch.com&title=Case%20Study%20Name&source=madebynotch.com">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin-square fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="cs-nav">
        <div class="cs-nav-previous">
            {% if case_study.get_prev_pk %}
                <a href="{% url 'case_study' case_study.get_prev_pk %}">
                    <span class="cs-nav-link">Previous</span>
                    <h1 class="cs-nav-title">{{ case_study.get_prev_title }}</h1>
                </a>
            {% else %}
                <p class="cs-nav-disabled">Previous</p>
            {% endif %}
        </div>
        <div class="cs-nav-next">
            {% if case_study.get_next_pk %}
                <a href="{% url 'case_study' case_study.get_next_pk %}">
                    <span class="cs-nav-link">Next</span>
                    <h1 class="cs-nav-title">{{ case_study.get_next_title }}</h1>
                </a>
            {% else %}
                <p class="cs-nav-disabled">Next</p>
            {% endif %}
        </div>
    </section>
</section>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Notch's latest awesomeness: ">Tweet</a>
<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>
<div class="fb-share-button" data-href="{{ url }}" data-layout="button"></div>


{% include "footer.html" %}
{% endblock %}
