<h1>{{case_study.title}}</h1>

<h3>{{case_study.subtitle}}</h3>

<h4>The Task</h4>
<p>{{case_study.task_content}}</p>

<h4>Our Approach</h4>
<p>{{case_study.approach_content}}</p>

{% for image in case_study.get_main_images %}
    <img src="{{image.image.url}}" style='width:100%'>
{% endfor %}

{% if case_study.extension_text %}
    <p><i>{{case_study.approach_content}}</i></p>
{% endif %}

{% if case_study.sub_header %}
    <h4>{{case_study.sub_header}}</h4>
    <p>{{case_study.sub_header_content}}</p>
{% endif %}

{% for image in case_study.get_sub_images %}
    <img src="{{image.image.url}}" style='width:50%'>
{% endfor %}

<br>

{% if case_study.get_prev_pk %}
    <a href="{% url 'case_study' case_study.get_prev_pk %}">Previous</a>
{% else %}
    <a href="" style='background-color: grey'>Previous</a>
{% endif %}

{% if case_study.get_next_pk %}
    <a href="{% url 'case_study' case_study.get_next_pk %}">Next</a>
{% else %}
    <a href="" style='background-color: grey'>Next</a>
{% endif %}
