$cs-side-nav-link-height: 50px
$cs-side-nav-link-width: 240px


.cs-wrapper
    position: relative
    .hero
        border-bottom: 1px solid $grey-light


.cs-side-nav-link
    display: none
    position: absolute
    top: 140px
    line-height: $cs-side-nav-link-height
    width: $cs-side-nav-link-width
    text-align: center
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
    background: #fff
    color: $grey-dark
    &:hover
        background: $grey-dark
        color: #fff
    &.prev
        left: 0 - (($cs-side-nav-link-width - $cs-side-nav-link-height) / 2)
        transform: rotate(-90deg)
    &.next
        right: 0 - (($cs-side-nav-link-width - $cs-side-nav-link-height) / 2)
        transform: rotate(90deg)

@include media('lg')
    .cs-side-nav-link
        display: inline-block


.cs-gameplan
    @include row
    padding-bottom: $gutter-width*2
.cs-task,
.cs-approach
    @include column(12)
    padding-top: $gutter-width*2


.cs-content
    @include row
    padding-bottom: $gutter-width*2
.cs-content__meta
    @include column(12)
    padding-top: $gutter-width
    padding-bottom: $gutter-width
    .cs-tags
        @include font($emphasis-font-family, 400, 10px, 16px)
        color: $grey-light
        padding-bottom: $gutter-width/4
    .cs-year
        @include font($font-family-gibson, 400, 10px, 16px)
        font-style: italic
.cs-content__text
    @include column(12)
    padding-top: $gutter-width
    position: relative
    &:before
        content: ""
        display: block
        width: $gutter-width
        background-color: $grey-medium
        position: absolute
        top: 0
        height: 1px
    .cs-approach-content
        @include font($emphasis-font-family, 400, 16px, 26px)
        font-style: italic
        padding-bottom: $gutter-width
    .main-text
        padding-bottom: $gutter-width/2

.cs-content__share
    @include column(12)
    padding-top: $gutter-width/2


.cs-nav
    @include row
    border-top: 1px solid $grey-light
    padding-top: $gutter-width*2
    padding-bottom: $gutter-width*2
.cs-nav-previous,
.cs-nav-next
    @include column(6)
.cs-nav-next
    text-align: right
.cs-nav-link
    @include font($font-family-gibson, 600, 12px, 16px)
    text-transform: uppercase
    color: $notch-blue
.cs-nav-title
    @include font($font-family-gibson, 600, 30px, 32px)
    color: black
.cs-nav-disabled
    @extend .cs-nav-link
    color: $grey-light


@include media('lg')
    .cs-task,
    .cs-approach
        @include column(6)

    .cs-content__text
        @include column(8)
        padding-top: $gutter-width*2
        &:before
            display: none

    .cs-content__meta
        padding-top: $gutter-width*2
        padding-bottom: $gutter-width/4

    .cs-content__meta,
    .cs-content__share
        @include column(3)
        @include offset(1)
        float: right
