$font-family-gibson: "canada-type-gibson", sans-serif
$space40: 40px

$cs-side-nav-link-height: 50px
$cs-side-nav-link-width: 240px

.cs-wrapper
    position: relative

.cs-side-nav-link
    display: none
    position: absolute

    top: 140px
    line-height: $cs-side-nav-link-height
    width: $cs-side-nav-link-width
    text-align: center
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
    background: #fff
    color: $grey-dark
    &:hover
        background: $grey-dark
        color: #fff
    &.prev
        left: 0 - (($cs-side-nav-link-width - $cs-side-nav-link-height) / 2)
        transform: rotate(-90deg)
    &.next
        right: 0 - (($cs-side-nav-link-width - $cs-side-nav-link-height) / 2)
        transform: rotate(90deg)

@include media('lg')
    .cs-side-nav-link
        display: inline-block

.cs-subheader
    @include font($font-family-gibson, 600, 18px, 22px)
    padding-bottom: $space40/4
.cs-text
    @include font($font-family-gibson, 400, 12px, 18px)
    color: $grey-medium


.cs-header
    @include row
    border-bottom: 1px solid $grey-light
    padding-top: $space40*2
    padding-bottom: $space40
    text-align: center
.cs-title
    @include font($font-family-gibson, 700, 48px, 60px)
.cs-subtitle
    @include font($emphasis-font-family, 400, 16px, 24px)
    color: $grey-light


.cs-gameplan
    @include row
    padding-bottom: $space40
.cs-task, .cs-approach
    @include column(12)
    padding-top: $space40


// class for slider
.cs-slider


.cs-content
    @include row
    padding-bottom: $space40

.cs-content-left
    @include column(12)
    padding-top: $space40
    .cs-text
        padding-bottom: $space40/2
.cs-approach-content
    @include font($emphasis-font-family, 400, 16px, 26px)
    font-style: italic
    padding-bottom: $space40

.cs-content-right
    @include column(12)
    padding-top: $space40
.cs-tags
    @include font($emphasis-font-family, 400, 10px, 16px)
    color: $grey-light
    padding-bottom: $space40/4
.cs-year
    @include font($font-family-gibson, 400, 10px, 16px)
    font-style: italic
    padding-bottom: $space40
.btn-blue
    @include font($font-family-gibson, 400, 14px, 18px)
    padding: $space40/4 $space40/2
    background-color: #2fb4e0
    border-radius: 4px
    color: white


.cs-page-nav
    @include row
    border-top: 1px solid $grey-light
    padding-top: $space40
    padding-bottom: $space40*2
.cs-page-nav-previous, .cs-page-nav-next
    @include column(6)
.cs-page-nav-next
    text-align: right
.cs-page-nav-link
    @include font($font-family-gibson, 600, 12px, 16px)
    text-transform: uppercase
    color: $notch-blue
.cs-page-nav-disabled
    @extend .cs-page-nav-link
    color: $grey-light
.cs-page-nav-title
    @include font($font-family-gibson, 700, 30px, 32px)


@include media('lg')
    .cs-task, .cs-approach
        @include column(6)
    .cs-content-left
        @include column(8)
    .cs-content-right
        @include column(3)
        @include offset(1)
