$contact-map-mobile-height: 300px
$contact-map-desktop-height: 550px
$contact-map-location-width: 174px
$contact-map-location-font-size: 16px
$contact-map-location-line-height: 24px

.contact-hero
    max-width: 540px
    .hero__subtitle
        margin-bottom: $gutter-width/2
    .contact-required
        @include font($font-family-gibson, 400, 12px, 18px)
        color: $grey-medium
        font-style: italic


input[type=text],
textarea
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none


.contact-form
    @include row
    max-width: 540px
    padding-left: $gutter-width/2
    padding-right: $gutter-width/2
    padding-bottom: 160px
    .contact-input
        transition: border-color 0.2s ease
        width: 100%
        font-family: $emphasis-font-family
        padding: 16px 20px
        border-radius: 6px
        border: 2px solid $grey-lightest
        color: $grey-medium
        &:focus
            outline: none
            border-color: #2fb4e0
    .btn-blue
        @include font($font-family-gibson, 400, 16px, 18px)
        padding: $gutter-width/1.5 $gutter-width/2
        border: none
    .form-group
        position: relative
        margin-bottom: 16px
        &.error
            &:after
                content: "oops!"
                font-family: $emphasis-font-family
                color: #ef6e6e
                display: inline-block
                position: absolute
                top: 18px
                right: 20px
            input,textarea
                padding-right: 80px
                border-color: #ef6e6e
    ::-webkit-input-placeholder
        color: $grey-light
    :-moz-placeholder
        color: $grey-light
        opacity: 1
    ::-moz-placeholder
        color: $grey-light
        opacity: 1
    :-ms-input-placeholder
        color: $grey-light

.contact-map
    height: $contact-map-mobile-height
    position: relative
    background: 50% 50% url(/static/images/contactMap.png) no-repeat
    background-size: cover

.contact-map__location
    @include font($emphasis-font-family, 400, $contact-map-location-font-size, $contact-map-location-line-height)
    position: absolute
    border-radius: 50%
    width: $contact-map-location-width
    height: $contact-map-location-width
    background: rgba(#2fb4e0, 0.9)
    color: white
    display: block
    text-align: center
    top: 50%
    left: 50%
    padding-top: ($contact-map-location-width / 2) - ($contact-map-location-line-height)
    margin-top: (0 - ($contact-map-location-width / 2))
    margin-left: (0 - ($contact-map-location-width / 2))

@include media('lg')
    .contact-map
        height: $contact-map-desktop-height
