$contact-map-mobile-height: 300px
$contact-map-desktop-height: 550px
$contact-map-xxl-height: 784px
$contact-map-location-mobile-width: 154px
$contact-map-location-desktop-width: 174px
$contact-map-location-xxl-width: 250px
$contact-map-location-xxl-font-size: 24px
$contact-map-location-font-size: 16px
$contact-map-location-line-height: 24px

.hero--contact
    @extend .hero
    max-width: 540px + $gutter-width
    .hero__subtitle
        margin-bottom: $gutter-width/2
    .contact-required
        @include font($font-family-gibson, 400, 12px, 18px)
        color: $grey-medium
        font-style: italic

.hero--contact-success
    @extend .hero
    max-width: 580px + $gutter-width

.contact__success-message
    text-align: center
    margin-top: 38px
    // margin-bottom: 30px
    font-size: 15px


input[type=text],
textarea
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

.hero--contact
    @include mobile-pad

.contact-form
    @include row
    max-width: 540px
    @include mobile-pad($gutter-width/2)
    padding-bottom: 140px
    .contact-input
        transition: border-color 0.2s ease
        width: 100%
        max-width: 100%
        font-family: $body-font-family
        padding: 16px 20px
        border-radius: 6px
        border: 2px solid $grey-lightest
        color: $grey-medium
        font-size: 13px
        &:focus
            outline: none
            border-color: #2fb4e0
    .btn-blue
        @include font($body-font-family, 500, 15px, 18px)
        padding: 15px
        border: none
    .form-group
        position: relative
        margin-bottom: 12px
        &:last-of-type
            margin-bottom: 17px
        &.error
            &:after
                content: "oops!"
                font-family: $emphasis-font-family
                color: #ef6e6e
                display: inline-block
                position: absolute
                top: 18px
                right: 20px
            input,textarea
                padding-right: 80px
                border-color: #ef6e6e
    ::-webkit-input-placeholder
        color: $grey-light
    :-moz-placeholder
        color: $grey-light
        opacity: 1
    ::-moz-placeholder
        color: $grey-light
        opacity: 1
    :-ms-input-placeholder
        color: $grey-light

.contact-map
    height: $contact-map-mobile-height
    position: relative
    background: 50% 50% url(/static/images/contactMap.png) no-repeat
    background-size: cover

.contact-map__location
    @include font($emphasis-font-family, 400, $contact-map-location-font-size, $contact-map-location-line-height)
    position: absolute
    border-radius: 50%
    width: $contact-map-location-mobile-width
    height: $contact-map-location-mobile-width
    background: rgba(#2fb4e0, 0.9)
    color: white
    display: block
    text-align: center
    top: 50%
    left: 50%
    padding-top: ($contact-map-location-mobile-width / 2) - ($contact-map-location-line-height)
    margin-top: (0 - ($contact-map-location-mobile-width / 2))
    margin-left: (0 - ($contact-map-location-mobile-width / 2))


@include media('lg')
    .hero--contact
        .hero__subtitle
            font-size: 16px
    .contact-map
        height: $contact-map-desktop-height
    .contact-map__location
        width: $contact-map-location-desktop-width
        height: $contact-map-location-desktop-width
        padding-top: ($contact-map-location-desktop-width / 2) - ($contact-map-location-line-height)
        margin-top: (0 - ($contact-map-location-desktop-width / 2))
        margin-left: (0 - ($contact-map-location-desktop-width / 2))

@include media('xxl')
    .hero--contact
        max-width: 815px
        .hero__subtitle
            font-size: 24px
        .contact-required
            font-size: 14px

    .contact-form
        max-width: 770px
        padding-bottom: 200px
        input
            height: 70px
        .contact-input
            font-size: 20px
            padding-left: 25px
            padding-right: 25px
        .btn-blue
            font-size: 22px

    .contact-map
        height: $contact-map-xxl-height
    .contact-map__location
        font-size: $contact-map-location-xxl-font-size
        line-height: 38px
        width: $contact-map-location-xxl-width
        height: $contact-map-location-xxl-width
        padding-top: ($contact-map-location-xxl-width / 2) - (38px)
        margin-top: (0 - ($contact-map-location-xxl-width / 2))
        margin-left: (0 - ($contact-map-location-xxl-width / 2))
