// Fonts family
@font-face
    font-family: "Open Sans"
    font-weight: 400
    src: url("../fonts/Open Sans Regular.eot")
    src: url("../fonts/Open Sans Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Regular.ttf") format("truetype"), url("../fonts/Open Sans Regular.svg") format("svg")

@font-face
    font-family: "Open Sans"
    font-weight: 600
    src: url("../fonts/Open Sans 600.eot")
    src: url("../fonts/Open Sans 600.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans 600.ttf") format("truetype"), url("../fonts/Open Sans 600.svg") format("svg")

@font-face
    font-family: "Open Sans"
    font-weight: 700
    src: url("../fonts/Open Sans 700.eot")
    src: url("../fonts/Open Sans 700.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans 700.ttf") format("truetype"), url("../fonts/Open Sans 700.svg") format("svg")

@font-face
    font-family: "Open Sans"
    font-weight: 800
    src: url("../fonts/Open Sans 800.eot")
    src: url("../fonts/Open Sans 800.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans 800.ttf") format("truetype"), url("../fonts/Open Sans 800.svg") format("svg")


// Mixin for declaring font weight, size and line height
@mixin font($font-family: ("Open Sans", sans-serif), $font-weight: 400, $font-size: 12px, $font-height: 24px)
    font:
        family: $font-family
        weight: $font-weight
    // @include rem(font-size,$font-size)
    // @include rem(line-height,$font-height)
    // @include rem(font, $font-weight $font-size / $font-height $font-family)