@import fonts
@import cartilage/cartilage

$side-pad-sm: 20px
$side-pad-lg: 65px

@include set-breakpoint('sm')
@include set-breakpoint('lg',900px,850 - $side-pad-lg)
@include set-breakpoint('xl',1200px,1000 - $side-pad-lg)

// Colors
$notch-blue: #2aaed9
$grey-lightest: #e4e4e4
$grey-lighter: #d0d0d0
$grey-light: #c2c2c2
$grey-medium: #626365
$grey-dark: #27282a
$grey-darker: #1e1e21
$nav-bg: rgba(#25a5cf,0.9)
$body-text-color: $grey-medium
$header-color: #26272a

// Fonts
$font-family-gibson: "canada-type-gibson", sans-serif
$header-font-family: $font-family-gibson
$emphasis-font-family: "Droid Serif",serif
$body-font-family: 'Helvetica Neue', Helvetica, 'Helvetica', 'Arial', sans-serif

// Nav Variables
$logo-mobile-height: 20px
$logo-desktop-height: 19px
$nav-link-color: white
$nav-link-hover-color: #9fdbef
$nav-link-desktop-shift: 5px
$nav-mobile-height: 60px
$nav-desktop-height: 50px

// Footer Variables
$homepage-footer-bg: white
$homepage-footer-height: 50px
$homepage-footer-size: 16px
$homepage-footer-color: $grey-medium
$homepage-footer-offset: 10px
@mixin homepage-footer-font
	@include font($body-font-family, 700, $homepage-footer-size, $homepage-footer-height)

@mixin headers
	h1,h2,h3,h4,h5,h6
		@content

$notch-transition: cubic-bezier(.41,.41,.62,.86)

*
	box-sizing: border-box
*
	text-rendering: optimizeLegibility
	margin: 0
	padding: 0

a
    text-decoration: none

html, body
    height: 100%

html.home
	&, & body
		overflow-y: hidden
		overflow-x: hidden
	body
		padding-top: 0

body
	margin: 0
	padding-top: $nav-mobile-height
	position: relative
	font-family: $body-font-family
	color: #616265

#body-scroll-wrapper
	&.lock
		height: 100%
		overflow-y: hidden

@include media('lg')
	body
		padding-top: $nav-desktop-height

.dribbble-icon
	.fa-stack-1x
		font-size: 1.35em

.twitter-icon
	.fa-stack-1x
		font-size: 1.12em

.linkedin-icon
	.fa-stack-1x
		font-size: 1.12em

.email-icon
	.fa-stack-1x
		font-size: 0.85em

.facebook-icon
	.fa-stack-1x
		position: relative
		top: 1px


// Main Styles
.text--blue
	color: $notch-blue

.bg--grey
    background: #efefef
.bg--white
	background: white

.hero
	@include row
	padding-top: $gutter-width*2
	padding-bottom: $gutter-width*2
	text-align: center
	p
		@include column(full)

.hero-wrapper
    @include row(full)
    background-color: #2daed8
    .hero__title,
    .hero__subtitle
        color: white

@include media('lg')
	.hero-wrapper
        @include row(full)
        padding-bottom: $gutter-width*6

.hero__title
	@include column(full)
	@include font($font-family-gibson, 600, 31px, 31px)
	margin-bottom: 8px
	color: $header-color
.hero__title--emphasis
	font-family: $emphasis-font-family
	font-weight: 400
	font-style: italic

.hero__subtitle
	@include column(full)
	@include font($emphasis-font-family, 400, 12px, 18px)
	color: #c3c3c3

@include media('lg')
	.hero__title
		font-size: 50px
		line-height: 50px

	.hero__subtitle
		font-size: 17px
		line-height: 25px

.main-subheader
	@include font($font-family-gibson, 600, 18px, 22px)
	padding-bottom: $gutter-width/4
	color: $header-color
.main-text
    @include font($font-family-gibson, 400, 12px, 18px)
    color: #616265


// Buttons
.btn-blue
	@include font($body-font-family, 400, 12px, 18px)
	transition: background-color 0.1s $notch-transition
	padding: 19px 40px
	background-color: #2fb4e0
	border-radius: 5px
	color: white
	width: 100%
	display: block
	text-align: center
	&:hover
        background-color: black

@include media('lg')
	.btn-blue
		padding: 10px 25px


// Homepage Footer
.homepage-footer
	@include homepage-footer-font
	@include row(full)
	position: fixed
	z-index: 100
	left: 0
	bottom: 0
	width: 100%
	background: $homepage-footer-bg
	a
		color: $homepage-footer-color

	.footer-left
		@include column(full)
		text-align: center
		a
			display: block
			font-size: 12px
	.footer-right
		display: none

.homepage-footer
	.footer-right
		text-align: right
		.footer-social-link
			position: relative
			font-size: 15px
			margin-left: 13px
			.fa-stack-2x
				color: $grey-lighter
			.fa-stack-1x
				color: white
			&:hover
				.fa-stack-2x
					color: $grey-dark

@include media('lg')
	.homepage-footer
		.footer-left,
		.footer-right
			@include column(half)
		.footer-left
			text-align: left
			a
				font-size: 16px

@import nav
@import slider
@import footer
@import case-study
@import inspire
@import contact
@import about
