@import fonts
@import cartilage/cartilage

@include set-breakpoint('md',640px,600px)
@include set-breakpoint('lg',960px,900px)
@include set-breakpoint('xl',1280px,1200px)

$main-body-grey: #efefef
$color-red: #F46263
$color-blue: #64BFF2
$color-grey-dark: #878787
$color-grey-medium: #8C8C8C
$color-grey-light: #BFBFBF

*
    text-rendering: optimizeLegibility

a
    text-decoration: none

html, body
    height: 100%

body
    font-family: "Open Sans"
    margin: 0
    background-color: $main-body-grey
    font-size: 12px

header
    background-color: #465C73

@include media('md')

@include media('lg')

@include media('xl')