<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
    <body ng-controller="ApplicationController">
        <header id="header">
            <div class="header-wrapper">
                <div class="header-left">
                    <a href="" title="logo" class="header-logo"><img src="../static/images/logo-ess.png" alt=""></a>
                    <span class="header-title">Overview</span>
                </div>
                <ul class="header-right">
                    <li>
                        <a href="" title="notifications" class="header-notifications"><span>3</span></a>
                    </li>
                    <li>
                        <a href="" title="settings" class="header-settings"><img src="../static/images/btn-settings.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </header>
        <div ui-view class="main-content">
            Shmeah
        </div>
    </body>
</html>