<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="static/css/app.css">
</head>
    <body>
        <nav id="nav">
            <div class="nav-wrapper">
                <div class="nav-left">
                    <a href="" title="logo" class="nav-logo"></a>
                    <span class="nav-title">Overview</span>
                </div>
                <ul class="nav-right">
                    <li>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>