<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/app.css">
</head>
    <body>
        <!-- Nav Block -->
        <nav id="nav">
            <div class="nav-wrapper">
                <div class="nav-head">
                    <a href="/" title="logo" class="nav-logo">notch</a>
                    <button class="nav-toggle">
                        <span class="nav-toggle-bar"></span>
                        <span class="nav-toggle-bar"></span>
                        <span class="nav-toggle-bar"></span>
                    </button>
                </div>
                <div class="nav-right">
                    <ul class="nav-links">
                        <li><a href="">Work.</a></li>
                        <li><a href="">About.</a></li>
                        <li><a href="">Inspire.</a></li>
                        <li><a href="">Contact.</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>