{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="bg--white">
    <section class="hero-wrapper">
        <section class="hero">
            <h1 class="hero__title">Usability meets <span class="hero__title--emphasis">beauty.</span></h1>
            <p class="hero__subtitle">We bring your ideas alive in the digital world.</p>
        </section>
    </section>
    <section class="about-process-wrapper">
        <section class="about-process">
            <div class="about-process__header-img"></div>
            <h3 class="about-process__title"><span class="text--blue">Top-notch</span> Process.</h3>
            <ul class="about-process__list">
                <li class="about-process__list-item">
                    <h4 class="main-subheader">Discover and Planning</h4>
                    <p class="main-text">Whether you're creating something new or reinventing a current product, your brand offers users a better experience. To best set you apart, we begin each project with a detailed research and discovery phase. We make sure we understand your goals, and examine the products put out by potential competitors. In all phases of the design process, we aim for functional simplicity. Your product may supply complex information or involve a complicated process, but using it should be easy.</p>
                </li>
                <li class="about-process__list-item">
                    <h4 class="main-subheader">Branding</h4>
                    <p class="main-text">Your brand is more than a logo. Your brand is your product's personality. We think about not only what your website or app does, but also who you are and what you want your product to say. We then create a guiding set of visual principles that represent those concepts and apply them to each design choice we make, from colors to fonts to icons. Every element matters; every element must look like it belongs.</p>
                </li>
                <li class="about-process__list-item">
                    <h4 class="main-subheader">User Interface Design</h4>
                    <p class="main-text">User interface sits as the intersection of branding and navigation, and addresses two questions: What do you want your users to know? What do you want your users to do? Guided by your brand's navigational design and aesthetic principles, we explore best options for efficiently sharing information and successfully directing user flow. We then craft simple, beautiful and effective experiences that are tailored to your users and translate consistently across all devices.</p>
                </li>
            </ul>
        </section>
    </section>
</div>
<div class="bg--grey">
    <section class="about-services">
        <h3 class="about-services__title">Services we specialize in.</h3>
        <ul class="about-services__list">
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_user_research.svg' %}">
                <h4 class="list-item__title">User Research</h4>
            </li>
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_business_strategy.svg' %}">
                <h4 class="list-item__title">Business Strategy</h4>
            </li>
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_wireframing.svg' %}">
                <h4 class="list-item__title">Wireframing</h4>
            </li>
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_brand_art_direction.svg' %}">
                <h4 class="list-item__title">Brand &amp; Art Direction</h4>
            </li>
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_social_media.svg' %}">
                <h4 class="list-item__title">Social Media</h4>
            </li>
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_app_design.svg' %}">
                <h4 class="list-item__title">Application Design</h4>
            </li>
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_responsive_design.svg' %}">
                <h4 class="list-item__title">Responsive Design</h4>
            </li>
            <li class="about-services__list-item">
                <img class="list-item__icon" width="50" height="50" src="{% static 'images/icons/icon_illustration.svg' %}">
                <h4 class="list-item__title">Illustration</h4>
            </li>
        </ul>
    </section>
</div>

{% include "footer.html" %}
{% endblock %}
