{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section class="hero contact-hero">
    <h1 class="hero__title">Let’s Talk.</h1>
    <h3 class="hero__subtitle">Thank you for your interest in working with notch. Getting started is easy – just fill in the blanks below and we'll get back to you ASAP.</h3>
    <p class="contact-required">All fields are required.</p>
</section>
<section class="contact-form">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}error{% endif %}">
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Submit Message" class="btn-blue"/>
    </form>
</section>

{% include "footer-contact.html" %}
{% endblock %}
