{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section class="hero--contact-success">
    <h1 class="hero__title">Thanks for reaching out!</h1>
    <h3 class="hero__subtitle">Your message has been sent. We will get back to you shortly. In the mean time, see what we are up to&hellip;</h3>
    
</section>
<section class="contact-map">
    <section class="contact-map__location"><span>Saint Louis,<br>Missouri 63119<span></section>
</section>

{% include "footer-contact.html" %}
{% endblock %}
