{% extends 'base.html' %}
{% load staticfiles %}
{% block htmlClass %}home{% endblock %}

{% block imports %}
<script type="text/javascript" src="{% static 'hammerjs/hammer.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="slider vertical">
        <div class="slider-wrapper">
            {% for case in case_list %}
                <div class="slide" style="{% if case.get_showcase %}background-image: url({{ case.get_showcase }});{% endif %}">
                    <!-- {% if case.get_showcase %}
                        <img class="slide-image" src="{{ case.get_showcase }}" style="width:100%">
                    {% endif %} -->
                    <div class="slide-wrapper">
                        <div class="slide-content">
                            <h1>{{ case.title }}.</h1>
                            <p>{{ case.subtitle }}</p>
                            <a class="slide-link" {% if case.is_visible %} href="{% url 'case_study' case.pk %}" {% else %} href="" {% endif %}>View Case Study <span class="slide-link-arrow"><i class="fa fa-long-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer class="homepage-footer">
        <div class="footer-left">
            <a href="inspire/">Want more? Check out our <span class="text--blue">work in progress</span></a>
        </div>
        <div class="footer-right social-links">
            <a class="footer-social-link dribbble-icon" href="https://dribbble.com/notchinteractive" target="_blank">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a class="footer-social-link instagram-icon" href="https://instagram.com/madebynotch/" target="_blank">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a class="footer-social-link twitter-icon" href="https://twitter.com/madebynotch" target="_blank">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </footer>
{% endblock %}
